html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.first-head{
  font-size: 1.75rem
}

.page-haed {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.logo{
  width: 5.9375rem;
}

.mrg{
  margin-top: 1.5625rem;
}

.h-100{
  height: 100%;
}

.text-gray {
    color: #5a5c69;
}

.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-success {
  border-left: .25rem solid #1cc88a!important;
}

.shadow {
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.sh-padding {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.img-xs{
  width: 2rem;
}

.w-svg-ico{
  width: 2rem;
  margin-left: 0.9375rem;
}

.dec-font{
  font-size: 0.9rem;
}

.al-end{
  align-self: flex-end;
}

.border-left-info {
  border-left: .25rem solid #36b9cc
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
 }

 .card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fc;
  border-top: 1px solid #e3e6f0;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
}  

.text-primary {
  color: #4e73df!important;
}

.font-weight-bold {
  font-weight: 700!important;
}

.text-xs {
  font-size: .7rem;
}

.text-success {
  color: #1cc88a!important;
}

@media screen and (max-width: 1198px) {
  .resp-mr {
     margin-bottom: 1.5625rem;
  }
}